<center>
  <a href="{{{ trackViewUrl }}}&at=1010l3uk" target="_blank"><img src="{{{ artworkUrl60 }}}" height="65" width="65" alt=""/></a>
</center>
<center><b> {{ trackCensoredName }} </b></center>
<center>  זוהי רק בדיקה! </center>
<center><b><u>מחיר</u></b>: <del>3.99$</del>  חינם   <a href="{{ trackViewUrl }}&at=1010l3uk" target="_blank">[הורדה]</a></center>
