<div class="deal-widget">
<a href="{{{ trackViewUrl }}}&at=1010l3uk" target="_blank"><img src="{{{ artworkUrl60 }}}" alt="" class="deal-img"/></a>
<h3 class="deal-title">{{ trackCensoredName }}</h3>
<p class="deal-description"></p>
<p class="deal-price"><u>מחיר</u>: <del>0.99$</del> חינם <a href="{{{ trackViewUrl }}}&at=1010l3uk" target="_blank">[הורדה]</a></p>
</div>